.welcome-banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url('https://mapcollection.files.wordpress.com/2012/06/map-of-middle-earth.jpg');
  background-size: 100vw;
  color: #0E0000;
}

.banner-content {
  width: 800px;
  background-color: rgba(255,255,255,0.8);
  padding: 40px;
  border-radius: 4px;
}

.welcome-banner h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.welcome-banner p {
  font-size: 16px;
}

.home-cta {
  margin: 60px 0 20px 0;
}

.boromir {
  border-bottom: 0.5mm ridge black;
}

// .welcome-banner {
//   height: 100vh;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background-image: url('https://mapcollection.files.wordpress.com/2012/06/map-of-middle-earth.jpg');
//   background-size: cover;
//   color: #0E0000;
// }

// .banner-content {
//   width: 800px;
//   height: 100%;
//   background-image: url('https://i.pinimg.com/originals/33/c0/50/33c050a9b5adf1ea6d30801b387339db.png');
//   background-size: 100% 98%;
//   // background-color: rgba(255,255,255,0.8);
//   // padding: 40px;
//   // border-radius: 4px;
//   // box-shadow: 10px 5px 5px black;
// }

// .welcome-banner h1 {
//   font-size: 48px;
//   margin-bottom: 30px;
// }

// .welcome-banner p {
//   font-size: 16px;
// }

// .home-cta {
//   margin: 60px 0 20px 0;
// }

// .text {
//   margin-top: 20%;
//   margin-left: 7%;
//   width: 700px;
// }

// .m-t-60 {
//   margin-top: 60px;
// }